$background1: #0e0e0e;
$background2: #131313;
$background3: #1b1b1b;
$background4: #111111;
$background5: #1f1f1f;
$outline: #5933e4;
$outlineLight: #9077eb;
$outlineGeneral: #57516d;
$heading: #339de4;
$highlight: #a6cce5;
$error: #ee5541;
$success: #47e094;
$link: #6c3bad;
$gold: #e0d147;
$lightGold: #039688;
$text: #EDEDED;
