$background1: #1E1E1E;
$background2: #2B2B2B;
$background3: #1b1b1b;
$background4: #111111;
$background5: #383838;
$heading: #339de4;
$highlight: #a6cce5;
$error: #ee5541;
$success: #47e094;
$link: #6c3bad;
$gold: #e0d147;
$lightGold: #039688;
$text: #EDEDED;
