@use "./colors.scss";

$mobileWidth: 1400px;

* {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

html {
    background-color: colors.$background1;
    overflow-y: scroll;
}
