@use "colors.scss";

$pageWidth: 80%;
$pageHeight: 80%;

.certificationPage {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(15px);
    position: fixed;
    display: flex;
    width: $pageWidth;
    height: $pageHeight;
    z-index: 3;
    background-color: colors.$background2;
    column-count: 3;
    column-gap: 40px;
    padding: 15px;
    border-radius: 5px;
    border-width: 1px;
    border-color: colors.$background1;
    opacity: 0;
    color: colors.$text;

    transition: opacity 0.15s ease-in-out, transform 0.25s ease-in-out;
}

.certificationPage > div {
    float:left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    
    &:nth-child(1) {
        width: 5%;
    }

    &:nth-child(2) {
        width: 90%;
    }

    &:nth-child(3) {
        width: 5%;
    }
}

.certificationPage.open {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0px);
}

.certificationPage.closed {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(15px);
}

// .certPageIcon {
//     width: 20%;
//     height: 20%;
//     aspect-ratio: 1 / 1;
// }

.certPageName {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 3vw;
    text-align: center;
    //background-color: rgba(colors.$background3, 0.2);
    //border-radius: 5px;
    //border-color: colors.$background1;
    //border-width: 1px;
}

.certPageExit {
    position: absolute;
    background-color: rgba(colors.$background3, 0.2);
    border-radius: 5px;
    border-color: colors.$background1;
    border-width: 1px;
    width: 50px;
    height: 50px;
    padding: 8px;
    right: 2%;
    top: 3%;
    box-sizing: border-box;
}

.certPageCert {
    position: relative;
    width: auto;
    height: auto;
    max-height: 400px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.certPageSkills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    list-style: none;
    overflow: hidden;
    max-height: 25%;
    width: 100%;
    gap: 10px;
    justify-content: center;
}

.certPageLink {
    position: absolute;
    bottom: 25px;
    background-color: rgba(colors.$background3, 0.2);
    padding: 8px 45px 8px 45px;
    border-radius: 10px;
    border-width: 1px;
    border-color: colors.$background1;

    transition: background-color 0.1s ease-in-out;
}

.certPageLink:hover {
    background-color: rgba(colors.$heading, 0.2);
}

.certPageArrow {
    display: flex;
    position: relative;
    margin: auto;
    width: 80%;
    justify-content: center;
    font-size: 3vw;
    background-color: rgba(colors.$background3, 0.2);
    border-radius: 10px;
    border-width: 1px;
    border-color: colors.$background1;
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: pointer;
}

.certPageLeft {
    rotate: 0deg;
}

.certPageRight {
    //rotate: 180deg;
}
