@use "colors.scss";
@import "glowEffect";
@import "button";

.certificationsGroup {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(colors.$background2, 0.35);
    padding: 25px;
    padding-bottom: 0px;
    border-radius: 15px;

    border-width: 1px;
    border-color: rgba(colors.$outlineGeneral, 0.25);

    transition: all 0.25s ease-out;

    &:hover {
        border-color: rgba(colors.$outline, 0.25);
    }
}

.certGroupTitle {
    width: 90%;
    font-size: clamp(1em, 5vw, 2.5em);
    color: colors.$text;
    font-weight: bold;
}

.certificationsList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 25px;

    overflow: hidden;

    transition: height 0.25s ease-in-out, margin-bottom 0.5s ease-in-out;

    &.open {
        margin-bottom: 25px;
    }
}

.certificationsList.closed {
    overflow: hidden;
}

.certGroupButtonWrapper {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 50px;
    width: 50px;
}

.certGroupButton {
    position: absolute;
    display: block;
    color: colors.$text;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 2;
    cursor: pointer;

    border-width: 1px;
    border-color: rgba(colors.$outlineGeneral, 0.25);

    transition: all 0.25s ease-out;

    &:hover {
        border-color: rgba(colors.$outline, 0.5);
        border-radius: 15px;
    }

    & > img {
        width: 75%;
        height: 75%;
        margin: auto;
        transform: rotate(180deg);
        opacity: 0.5;

        transition: all 0.25s ease-out;

        &.open {
            transform: rotate(0deg);
        }
    }
}

.certGroupButton.disabled {
    pointer-events: none;
}

.certGroupFooter {
    background-color: colors.$background2;
    width: 100%;
    height: 5px;
    border-radius: 25px;
    opacity: 0.25;
    margin-left: auto;
    margin-right: auto;
}
