@use "colors.scss";

$heroHeight: 250px;
$titleText: 3em;
$subtitleText: 2em;

#hero {
    position: relative;
    width: 100%;
    height: $heroHeight;
    justify-content: center;
    display: flex;
}

#heroTitles {
    justify-content: center;
    align-items: center;
    align-self: center;
}

#heroText {
    display: flex;
    color: colors.$text;
    text-align: center;
    justify-content: center;
    margin: auto;
    font-size: clamp(1.15em, $titleText, $titleText);
    padding: 10px 25px 10px 25px;
    font-weight: bold;
    word-break: keep-all;
    max-height: 300px;
    overflow: hidden;

    &.background {
        border-radius: 5px;
        background-color: rgba(colors.$background1, 0.5);
    }
}

#heroSubtext {
    display: flex;
    color: colors.$text;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    font-size: clamp(0.25rem, $subtitleText, $subtitleText);
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    width: fit-content;
    max-height: 300px;
    overflow: hidden;

    &.background {
        border-radius: 5px;
        background-color: rgba(colors.$background1, 0.5);
    }
}

#heroBackground {
    position: absolute;
    z-index: -1;

    $mask: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 5%, rgba(0, 0, 0, 0.75) 75%, rgba(0, 0, 0, 0) 100%);

    -webkit-mask-image: $mask;
    mask-image: $mask;

    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;

        min-height: 100%;
        object-fit: cover;
    }
}
