@use "colors.scss";
@import "glowEffect";

.resumeDownload {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px 25px 10px 25px;
    font-size: 2.5vw;
    text-align: center;
    z-index: 2;
    background-color: colors.$background2;
    color: colors.$text;
    border-radius: 5px;
    border-width: 1px;
    border-color: colors.$background3;

    transition: border-color 0.25s ease-in-out;
}

.resumeDownload:hover {
    border-color: colors.$heading;
}

.resumeDownloadWrapper {
    display: flex;

    justify-content: center;
    align-items: center;
    position: relative;

    width: 90%;
    height: 100%;

    margin: auto;
    margin-bottom: 50px;
    @include glowEffect();
}
