@use "colors.scss";
@use "glowAnimation.scss";

.resumeDownload {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px 25px 10px 25px;
    font-size: 2.5vw;
    text-align: center;
    background-color: colors.$background2;
    color: colors.$text;
    border-radius: 5px;
    border-width: 1px;
    border-color: colors.$background3;

    transition: border-color 0.25s ease-in-out;
}

.resumeDownload:hover {
    border-color: colors.$heading;
}

.resumeDownloadWrapper {
    position: relative;
    width: 90%;
    margin: auto;
}

.resumeDownloadWrapper::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    z-index: -1;
    border-radius: 15px;
    background-position: center;
    background-size: 100% 100%;

    animation-name: glowMove;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

    filter: blur(5px);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.resumeDownloadWrapper:hover:before {
    opacity: 0.5;
}
