@use "colors.scss";

.resume {
    width: 50%;
    height: auto;
    margin: auto;
    margin-bottom: 25px;
    padding: 15px;
    background-color: rgba(colors.$background2, 0.35);
    border-radius: 5px;
    border-width: 1px;
    border-color: colors.$background3;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
