@use "./colors.scss";

$titleText: 4vw;

$mobileWidth: 1000px;
$heroHeight: 400px;

* {
    font-family: "Roboto";
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 3px 3px black;
}

html {
    background-color: colors.$background1;
    overflow-y: scroll;
}

#hero {
    width: 100%;
    height: $heroHeight;
    background-color: colors.$background1;
    justify-content: center;
    display: flex;
}

#hero h1 {
    color: colors.$text;
    text-align: center;
    margin: auto;
    font-size: $titleText;
}
