@use "colors.scss";

#hero {
    margin-bottom: 25px;
}

.workSectionTitle {
    color: colors.$text;
    font-weight: bold;
    font-size: 4vw;
    text-align: center;
}

#workSampleLinks {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 25px;
    width: 80%;
}

.workSampleLink {
    position: relative;
    display: inline-block;
    aspect-ratio: 1 / 1;
    width: 125px;
    height: 185px;
}

#workDescription {
    position: relative;
    color: colors.$text;
    font-size: 1.25em;
    margin: auto;
    margin-bottom: 50px;
    width: 75%;
}

#workSampleTags {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 10px;
    width: 75%;
    margin: auto;
    background-color: rgba(colors.$background2, 0.5);
    color: colors.$text;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 50px;
}

#workRole {
    color: colors.$text;
    text-align: center;
    margin-bottom: 50px;
    font-size: 3vw;
    font-weight: bold;
}

.workPicturesContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.workPictures {
    position: relative;
}

.workPicturesLeft {
    position: absolute;
    top: 50%;
    left: 8vw;
    font-size: clamp(0.25em, 5vw, 3em);
    z-index: 1;
    transform: translateY(-50%);
    background-color: rgba(colors.$background3, 0.5);
    color: colors.$text;
    border-radius: 5px;
    transition: all 0.15s ease-in;
    cursor: pointer;

    &:hover {
        transform: translateY(-50%) translateX(-15%);
    }
}

.workImageContainer {
    width: 90%;
    height: 500px;
    overflow: hidden;
    margin: auto;
}

.workPicturesImage {
    border-radius: 10px;
    border-width: 2px;
    border-color: rgba(colors.$background3, 0.5);

    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
}

.workPicturesRight {
    position: absolute;
    top: 50%;
    right: 8vw;
    font-size: clamp(0.25em, 5vw, 3em);
    z-index: 1;
    transform: translateY(-50%);
    background-color: rgba(colors.$background3, 0.5);
    color: colors.$text;
    border-radius: 5px;
    transition: all 0.15s ease-in;
    cursor: pointer;

    &:hover {
        transform: translateY(-50%) translateX(15%);
    }
}
