@use "colors.scss";

#hero {
    margin-bottom: 25px;
}

#workSampleContainer {
    display: grid;
    width: 85%;
    margin: auto;
    gap: 50px;
}

#workSampleColumn1 {
    grid-column: 1;
}

#workSampleColumn2 {
    grid-column: 2;
    width: 90%;
}

.workSectionTitle {
    color: colors.$text;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

#workPicturesList {
    width: 100%;
}

.workPictureContainer {
    margin-bottom: 45px;
    padding: 15px;
    background-color: rgba(colors.$background2, 0.25);
    border-radius: 5px;
}

.workPicture {
    margin-bottom: 10px;
    position: relative;
    border-radius: 0px;
    overflow: hidden;

    transition: border-radius 0.3s ease-out;

    &:hover {
        border-radius: 5px;
    }

    .workPicturePic {
        width: 100%;
        height: auto;
        display: block;
        border-radius: inherit;
    }

    .workPictureZoom {
        position: absolute;
        z-index: 3;
        bottom: 10px;
        right: 10px;
        width: 32px;
        height: 32px;
        background-color: rgba(black, 0.5);
        border-radius: 3px;
        padding: 3px;

        transition: all 0.3s ease-out;
        &:hover {
            border-radius: 4px;
            width: 36px;
            height: 36px;
        }
    }
}

.workPictureCaption {
    color: colors.$text;
    text-align: center;
    font-size: 1.25em;
}

#workDescription {
    position: relative;
    color: colors.$text;
    font-size: 1.25em;
    margin: auto;
    margin-bottom: 50px;
    width: 75%;
    text-align: left;
}






#workSampleLinks {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 25px;
    width: 80%;
}

.workSampleLink {
    position: relative;
    display: inline-block;
    aspect-ratio: 1 / 1;
    width: 125px;
    height: 185px;
}

#workSampleTags {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 10px;
    width: 75%;
    margin: auto;
    background-color: rgba(colors.$background2, 0.5);
    color: colors.$text;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.workPicturesContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.workPictures {
    position: relative;
}

.workPicturesLeft {
    position: absolute;
    top: 50%;
    left: 8vw;
    font-size: clamp(0.25em, 5vw, 3em);
    z-index: 1;
    transform: translateY(-50%);
    background-color: rgba(colors.$background3, 0.5);
    color: colors.$text;
    border-radius: 5px;
    transition: all 0.15s ease-in;
    cursor: pointer;

    &:hover {
        transform: translateY(-50%) translateX(-15%);
    }
}

.workImageContainer {
    width: 90%;
    height: 500px;
    overflow: hidden;
    margin: auto;
}

.workPicturesImage {
    border-radius: 10px;
    border-width: 2px;
    border-color: rgba(colors.$background3, 0.5);

    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
}

.workPicturesRight {
    position: absolute;
    top: 50%;
    right: 8vw;
    font-size: clamp(0.25em, 5vw, 3em);
    z-index: 1;
    transform: translateY(-50%);
    background-color: rgba(colors.$background3, 0.5);
    color: colors.$text;
    border-radius: 5px;
    transition: all 0.15s ease-in;
    cursor: pointer;

    &:hover {
        transform: translateY(-50%) translateX(15%);
    }
}
