* {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

#root {
  margin-bottom: 150px;
  font-size: 75%;
}

html {
  background-color: #1E1E1E;
  overflow-y: scroll;
}

#aboutMeInfo {
  display: grid;
  row-gap: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  align-items: center;
}

#aboutDescriptionTitle {
  position: relative;
  display: inline-block;
  margin: auto;
  color: #EDEDED;
  font-weight: bold;
  font-size: 4em;
  text-align: left;
  margin-bottom: 15px;
  cursor: default;
}
#aboutDescriptionTitle::after {
  position: absolute;
  content: "";
  height: 5px;
  background-color: rgba(237, 237, 237, 0);
  width: 0%;
  left: 50%;
  bottom: 0;
  border-radius: 15px;
  transition: all 0.75s ease-out;
}
#aboutDescriptionTitle:hover::after {
  width: 100%;
  left: 0;
  background-color: rgba(237, 237, 237, 0.75);
}

#aboutDescription {
  font-size: 1.5em;
  color: #EDEDED;
  background-color: rgba(43, 43, 43, 0.25);
  padding: 25px;
  border-radius: 5px;
  width: 80%;
}

#topSkillsTitle {
  margin: auto;
  color: #EDEDED;
  font-weight: bold;
  font-size: 2em;
  text-align: left;
  margin-bottom: 15px;
}

#topSkills {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 10px;
  height: auto;
  width: 80%;
  max-width: 600px;
  background-color: rgba(43, 43, 43, 0.25);
  color: #EDEDED;
  padding: 15px;
  border-radius: 5px;
}

#aboutMeTags {
  color: #EDEDED;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 150px;
  padding-top: 50px;
  overflow: hidden;
  transition: height 2s ease;
}
#aboutMeTags.closed {
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
}

.aboutMeTag {
  width: 40%;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  padding-bottom: 15px;
  background-color: rgba(43, 43, 43, 0.25);
  border-radius: 5px;
  transition: all 0.3s ease-out;
}
.aboutMeTag.starred {
  background: linear-gradient(0deg, transparent, rgba(3, 150, 136, 0.15), rgba(43, 43, 43, 0.25));
  background-size: 100% 200%;
  background-position: 0% 100%;
}
.aboutMeTag:hover {
  background-position: 0% 85%;
}
.aboutMeTag .aboutMeTagName {
  display: flex;
  position: relative;
  font-size: clamp(0.25rem, 5vw, 2em);
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: center;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
}
.aboutMeTag .aboutMeTagLevel {
  width: 95%;
  margin: auto;
  margin-bottom: 15px;
}
.aboutMeTag .aboutMeTagLevel > h1 {
  font-size: 1.25em;
  text-align: center;
  margin-bottom: 5px;
}
.aboutMeTag .aboutMeTagLevel > div {
  width: 100%;
  height: 10px;
  margin: auto;
  background-color: rgba(17, 17, 17, 0.25);
}
.aboutMeTag .aboutMeTagLevel > div > div {
  background-color: rgba(71, 224, 148, 0.5);
  height: 100%;
  box-shadow: 0px 0px 5px 1px rgba(71, 224, 148, 0.5);
  filter: brightness(125%);
}
.aboutMeTag .aboutMeTagLength {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: clamp(0.25rem, 4vw, 1.5em);
}
.aboutMeTag .aboutMeTagLength .aboutMeTagYears {
  display: inline;
  position: relative;
  margin-right: 15px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: clamp(0.25rem, 5vw, 1.75em);
}
.aboutMeTag .aboutMeTagLength .aboutMeTagYearsCaption {
  display: inline;
}

#aboutMeTagsExpand {
  display: flex;
  position: relative;
  margin-top: -250px;
  z-index: 1;
  color: #EDEDED;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: rgba(43, 43, 43, 0.75);
  border-color: rgba(17, 17, 17, 0.5);
  border-radius: 5px;
  border-width: 1px;
  transition: all 0.3s ease-out, opacity 0.1s ease-out;
}
#aboutMeTagsExpand.open {
  opacity: 1;
  pointer-events: all;
}
#aboutMeTagsExpand.closed {
  opacity: 0;
  pointer-events: none;
}
#aboutMeTagsExpand:hover {
  border-color: rgba(17, 17, 17, 0.75);
  border-radius: 15px;
  width: 275px;
}

@media (min-width: 800px) {
  #aboutMeContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  #aboutMeColumn1 {
    grid-column: 1;
  }
  #aboutMeColumn2 {
    grid-column: 2;
  }
}
@media (max-width: 800px) {
  #aboutMeContainer {
    grid-template-columns: 1fr;
  }
  #aboutMeColumn1 {
    grid-column: 1;
    grid-row: 2;
  }
  #aboutMeColumn2 {
    grid-column: 1;
    grid-row: 1;
  }
}
@keyframes placementGlow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes backgroundGlow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}