@keyframes glowMove {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% -100%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
.cert {
  position: relative;
  background-color: rgba(43, 43, 43, 0.35);
  width: 300px;
  height: 100%;
  border-radius: 10px;
  padding: 15px;
  color: #EDEDED;
  transform: translateY(-15px);
  z-index: 2;
  box-shadow: inset 0 0 0 0px rgba(237, 237, 237, 0.25);
  transition: opacity 0.35s ease-in-out, transform 0.25s ease-in-out, background-color 0.15s ease-in, box-shadow 0.15s ease-in;
}
.cert:hover {
  box-shadow: inset 0 0 0 1px rgba(237, 237, 237, 0.75);
  background-color: #2b2b2b;
  cursor: pointer;
}

.cert.open {
  opacity: 1;
  transform: translateY(0px);
}

.cert.closed {
  opacity: 0;
  transform: translateY(-15px);
}

.certWrapper {
  position: relative;
}

.certContent {
  z-index: 2;
  position: relative;
}

.certImage {
  border-radius: 5px;
  margin-bottom: 15px;
}

.certName {
  font-size: 1.25em;
}

.certSkills {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  list-style: none;
  overflow: hidden;
  width: 100%;
  gap: 10px;
  justify-content: center;
  margin-top: 25px;
}