@keyframes glowMove {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% -100%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
.certificationsGroup {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgba(19, 19, 19, 0.35);
  padding: 25px;
  padding-bottom: 0px;
  border-radius: 15px;
  border-width: 1px;
  border-color: rgba(87, 81, 109, 0.25);
  transition: all 0.25s ease-out;
}
.certificationsGroup:hover {
  border-color: rgba(89, 51, 228, 0.25);
}

.certGroupTitle {
  width: 90%;
  font-size: clamp(1em, 5vw, 2.5em);
  color: #EDEDED;
  font-weight: bold;
}

.certificationsList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 25px;
  overflow: hidden;
  transition: height 0.25s ease-in-out, margin-bottom 0.5s ease-in-out;
}
.certificationsList.open {
  margin-bottom: 25px;
}

.certificationsList.closed {
  overflow: hidden;
}

.certGroupButtonWrapper {
  position: absolute;
  top: 25px;
  right: 25px;
  height: 50px;
  width: 50px;
}

.certGroupButton {
  position: absolute;
  display: block;
  color: #EDEDED;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 2;
  cursor: pointer;
  border-width: 1px;
  border-color: rgba(87, 81, 109, 0.25);
  transition: all 0.25s ease-out;
}
.certGroupButton:hover {
  border-color: rgba(89, 51, 228, 0.5);
  border-radius: 15px;
}
.certGroupButton > img {
  width: 75%;
  height: 75%;
  margin: auto;
  transform: rotate(180deg);
  opacity: 0.5;
  transition: all 0.25s ease-out;
}
.certGroupButton > img.open {
  transform: rotate(0deg);
}

.certGroupButton.disabled {
  pointer-events: none;
}

.certGroupFooter {
  background-color: #131313;
  width: 100%;
  height: 5px;
  border-radius: 25px;
  opacity: 0.25;
  margin-left: auto;
  margin-right: auto;
}