@keyframes glowMove {
  0% {
    background: linear-gradient(0deg, #007ACC, #00D8FF, #007ACC);
  }
  100% {
    background: linear-gradient(360deg, #007ACC, #00D8FF, #007ACC);
  }
}
.cert {
  position: relative;
  background-color: #1E1E1E;
  width: 300px;
  height: 100%;
  border-radius: 10px;
  padding: 15px;
  color: #EDEDED;
  transform: translateY(-15px);
  z-index: 2;
  box-shadow: inset 0 0 0 0px #007ACC;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out, background-color 0.25s ease-in-out, box-shadow 0.05s ease-in-out;
}

.cert.open {
  opacity: 1;
  transform: translateY(0px);
}

.cert.closed {
  opacity: 0;
  transform: translateY(-15px);
}

.cert:hover {
  box-shadow: inset 0 0 0 2px #007ACC;
  cursor: pointer;
}

.certWrapper {
  position: relative;
}

.certWrapper::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  z-index: 1;
  border-radius: 15px;
  background-position: center;
  background-size: 100% 100%;
  animation-name: glowMove;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  filter: blur(5px);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.certWrapper:hover:before {
  opacity: 0.5;
}

.certContent {
  z-index: 2;
  position: relative;
}

.certImage {
  border-radius: 5px;
  margin-bottom: 15px;
}

.certName {
  font-size: 1.25em;
}

.certSkills {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  list-style: none;
  overflow: hidden;
  width: 100%;
  gap: 10px;
  justify-content: center;
  margin-top: 25px;
}