@keyframes glowMove {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% -100%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
.certificationsGroup {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #1b1b1b;
  padding: 25px;
  border-radius: 15px;
}

.certGroupTitle {
  width: 90%;
  font-size: clamp(1em, 5vw, 2.5em);
  color: #EDEDED;
}

.certificationsList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  transition: height 0.5s ease-in-out;
}

.certificationsList.closed {
  overflow: hidden;
}

.certGroupButtonWrapper {
  position: absolute;
  top: 25px;
  right: 25px;
  height: 50px;
  width: 50px;
}
.certGroupButtonWrapper::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  z-index: 1;
  border-radius: 15px;
  background: linear-gradient(to top, rgba(51, 157, 228, 0.05), #339de4, rgba(51, 157, 228, 0.05));
  background-repeat: repeat;
  background-size: 200% 200%;
  animation-name: glowMove;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  filter: blur(5px);
  opacity: 0;
  transition: opacity 0.15s ease-in;
}
.certGroupButtonWrapper:hover::before {
  opacity: 0.5;
}

.certGroupButton {
  position: absolute;
  display: block;
  color: #EDEDED;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 2;
  cursor: pointer;
  background-color: #2B2B2B;
  border-color: #339de4;
  transition: border-width 0.05s ease-in-out;
}

.certGroupButton.disabled {
  pointer-events: none;
}

.certGroupButton:hover {
  border-width: 2px;
}

.certGroupFooter {
  background-color: #2B2B2B;
  width: 100%;
  height: 5px;
  border-radius: 25px;
  opacity: 0.25;
  margin-left: auto;
  margin-right: auto;
}