@keyframes glowMove {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% -100%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
.cert {
  position: relative;
  background-color: rgba(19, 19, 19, 0.35);
  width: 300px;
  height: 100%;
  border-radius: 5px;
  padding: 15px;
  color: #EDEDED;
  border-width: 1px;
  border-color: rgba(87, 81, 109, 0.25);
  transform: translateY(-15px);
  z-index: 2;
  box-shadow: inset 0 0 0 0px rgba(237, 237, 237, 0.25);
  transition: all 0.25s ease-out;
}
.cert:hover {
  border-color: rgba(89, 51, 228, 0.5);
  border-radius: 15px;
  cursor: pointer;
}

.cert.open {
  opacity: 1;
  transform: translateY(0px);
}

.cert.closed {
  opacity: 0;
  transform: translateY(-15px);
}

.certWrapper {
  position: relative;
}

.certContent {
  z-index: 2;
  position: relative;
}

.certImage {
  border-radius: 5px;
  margin-bottom: 15px;
}

.certName {
  font-size: 1.25em;
}

.certSkills {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  list-style: none;
  overflow: hidden;
  width: 100%;
  gap: 10px;
  justify-content: center;
  margin-top: 25px;
}