#contactList {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 25px;
  width: 80%;
}

.contactLink {
  position: relative;
  display: inline-block;
  aspect-ratio: 1/1;
  width: 125px;
  height: 185px;
}

#contactEmail {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  justify-content: center;
  color: #EDEDED;
  font-size: 1.5em;
}
#contactEmail::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: rgba(237, 237, 237, 0.25);
  width: 0%;
  left: 50%;
  bottom: 0;
  transition: all 0.25s ease-out;
}
#contactEmail:hover::after {
  width: 100%;
  left: 0;
}