#imageViewer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(50%, 85%, 100vw);
  height: clamp(50%, 95%, 100vh);
  background-color: rgba(27, 27, 27, 0.5);
  border-radius: 5px;
  z-index: 100;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-width: 1px;
  border-color: rgba(87, 81, 109, 0.25);
  transition: all 0.25s ease-out;
}
#imageViewer:hover {
  border-color: rgba(89, 51, 228, 0.25);
}
#imageViewer.open {
  opacity: 1;
  pointer-events: all;
}
#imageViewer.closed {
  opacity: 0;
  pointer-events: none;
}

#imageViewerImageContainer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(14, 14, 14, 0.25);
  border-color: rgba(27, 27, 27, 0.25);
  border-radius: 5px;
  border-width: 1px;
  margin: auto;
  padding: 4px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 0;
}
#imageViewerImageContainer > img {
  margin: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#imageViewerLeft {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 2%;
  height: 80px;
  width: 30px;
  padding-left: 3px;
  padding-right: 3px;
  color: #EDEDED;
  background-color: rgba(27, 27, 27, 0.25);
  border-radius: 5px;
  font-size: 3em;
  z-index: 1;
  cursor: pointer;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-width: 1px;
  border-color: rgba(87, 81, 109, 0.25);
  transition: all 0.15s ease-in;
}
#imageViewerLeft:hover {
  border-color: rgba(89, 51, 228, 0.25);
  border-radius: 10px;
}
#imageViewerLeft > img {
  transform: rotate(-90deg);
  opacity: 0.5;
}

#imageViewerRight {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 2%;
  height: 80px;
  width: 30px;
  padding-left: 3px;
  padding-right: 3px;
  color: #EDEDED;
  background-color: rgba(27, 27, 27, 0.25);
  border-radius: 5px;
  font-size: 3em;
  z-index: 1;
  transform: scale(-1);
  cursor: pointer;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-width: 1px;
  border-color: rgba(87, 81, 109, 0.25);
  transition: all 0.15s ease-in;
}
#imageViewerRight:hover {
  border-color: rgba(89, 51, 228, 0.25);
  border-radius: 10px;
}
#imageViewerRight > img {
  transform: rotate(-90deg);
  opacity: 0.5;
}

#imageViewerNewTab {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 62px;
  top: 20px;
  height: 32px;
  width: 32px;
  padding: 4px;
  color: #EDEDED;
  background-color: rgba(27, 27, 27, 0.25);
  border-radius: 5px;
  font-size: 3em;
  z-index: 1;
  cursor: pointer;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-width: 1px;
  border-color: rgba(87, 81, 109, 0.25);
  transition: all 0.25s ease-out;
}
#imageViewerNewTab:hover {
  border-color: rgba(89, 51, 228, 0.25);
  border-radius: 8px;
}
#imageViewerNewTab > img {
  opacity: 0.5;
}

#imageViewerCaption {
  display: flex;
  position: absolute;
  bottom: 32px;
  color: #EDEDED;
  font-size: clamp(0.25rem, 0.75vw, 2.5em);
  background-color: rgba(14, 14, 14, 0.5);
  border-color: rgba(27, 27, 27, 0.5);
  border-radius: 5px;
  border-width: 1px;
  width: 50%;
  height: 8%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  margin: auto;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-width: 1px;
  border-color: rgba(87, 81, 109, 0.25);
  transition: all 0.25s ease-out;
}
#imageViewerCaption:hover {
  border-color: rgba(89, 51, 228, 0.25);
}

#imageViewerExit {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 4px;
  color: #EDEDED;
  font-size: clamp(1rem, 1vw, 2.5em);
  border-radius: 5px;
  background-color: rgba(14, 14, 14, 0.25);
  width: 32px;
  height: 32px;
  margin: auto;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-width: 1px;
  border-color: rgba(87, 81, 109, 0.25);
  transition: all 0.25s ease-out;
}
#imageViewerExit:hover {
  border-color: rgba(89, 51, 228, 0.25);
  border-radius: 8px;
}
#imageViewerExit > img {
  opacity: 0.5;
}