.link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(43, 43, 43, 0.35);
  border-radius: 5px;
  border-width: 1px;
  border-color: rgba(17, 17, 17, 0.25);
  transition: all 0.1s ease-in;
}
.link:hover {
  cursor: pointer;
  background-color: #2b2b2b;
  border-color: rgba(237, 237, 237, 0.25);
}

.linkIcon {
  position: relative;
  display: block;
  padding: 5px;
  margin-bottom: 15px;
  width: auto;
  max-width: 100%;
  height: auto;
  justify-self: center;
  top: 50%;
  transform: translateY(-75%);
}

.linkTitle {
  position: absolute;
  bottom: 5px;
  text-align: center;
  color: #EDEDED;
  margin: auto;
  width: 100%;
  padding: 5px;
  font-size: 1em;
}