@keyframes glowMove {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% -100%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
.resumeDownload {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px 25px 10px 25px;
  font-size: 2vw;
  text-align: center;
  z-index: 2;
  background-color: #2B2B2B;
  color: #EDEDED;
  border-radius: 5px;
  border-width: 1px;
  border-color: #1b1b1b;
  transition: border-color 0.25s ease-in-out;
}

.resumeDownload:hover {
  border-color: #339de4;
}

.resumeDownloadWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 48%;
  height: 100%;
  margin: auto;
  margin-bottom: 50px;
}
.resumeDownloadWrapper::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  z-index: 1;
  border-radius: 15px;
  background: linear-gradient(to top, rgba(51, 157, 228, 0.05), #339de4, rgba(51, 157, 228, 0.05));
  background-repeat: repeat;
  background-size: 200% 200%;
  animation-name: glowMove;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  filter: blur(5px);
  opacity: 0;
  transition: opacity 0.15s ease-in;
  pointer-events: none;
}
.resumeDownloadWrapper:hover::before {
  opacity: 0.5;
}