* {
  font-family: "Roboto";
  font-weight: bold;
}

html {
  background-color: #1E1E1E;
  overflow-y: scroll;
}

#hero {
  width: 100%;
  height: 400px;
  background-color: #1E1E1E;
  justify-content: center;
  display: flex;
}

#hero h1 {
  color: #EDEDED;
  text-align: center;
  margin: auto;
  font-size: 4vw;
}