* {
  font-family: "Verdana";
  font-weight: bold;
}

#hero {
  width: 100%;
  height: 550px;
  background-color: #bcdfc4;
  justify-content: center;
  display: flex;
}

#hero h1 {
  color: #393e41;
  text-align: center;
  margin: auto;
  font-size: 4vw;
}