#hero {
  margin-bottom: 25px;
}

#workSampleContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 95%;
  margin: auto;
  gap: 0px;
  align-items: stretch;
}

#workSampleColumn1 {
  display: flex;
  flex-direction: column;
}

#workSampleColumn2 {
  display: flex;
  flex-direction: column;
}

.workSectionTitle {
  color: #EDEDED;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

#workDescription {
  position: relative;
  color: #EDEDED;
  font-size: 1.25em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 75%;
  text-align: left;
  line-height: 2em;
}

#workPicturesList {
  width: 100%;
}

#workPictureContainer {
  margin-bottom: 45px;
  padding: 15px;
  background-color: rgba(43, 43, 43, 0.5);
  border-radius: 15px;
}

#workPicture {
  display: flex;
  margin-bottom: 10px;
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  align-items: center;
  width: 100%;
  height: 600px;
  overflow: hidden;
  transition: border-radius 0.3s ease-out;
}
#workPicture:hover {
  border-radius: 5px;
}
#workPicture #workPicturePic {
  width: 100%;
  height: auto;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#workPicture #workPictureZoom {
  position: absolute;
  z-index: 3;
  bottom: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  background-color: rgba(27, 27, 27, 0.5);
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
#workPicture #workPictureZoom:hover {
  border-radius: 4px;
}

#workPictureCaption {
  color: #EDEDED;
  text-align: center;
  font-size: 1.25em;
}

#workPictureLeft {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 2%;
  height: 8%;
  width: 5%;
  padding-left: 3px;
  padding-right: 3px;
  color: #EDEDED;
  background-color: rgba(27, 27, 27, 0.5);
  border-radius: 5px;
  font-size: 3em;
  z-index: 1;
  cursor: pointer;
  transition: left 0.3s ease-out;
}
#workPictureLeft:hover {
  left: 1.75%;
}

#workPictureRight {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 2%;
  height: 8%;
  width: 5%;
  padding-left: 3px;
  padding-right: 3px;
  color: #EDEDED;
  background-color: rgba(27, 27, 27, 0.5);
  border-radius: 5px;
  font-size: 3em;
  z-index: 1;
  transform: scaleX(-1);
  cursor: pointer;
  transition: right 0.3s ease-out;
}
#workPictureRight:hover {
  right: 1.75%;
}

#workPictureDots {
  width: auto;
  height: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.workPictureDot {
  display: flex;
  height: 100%;
  width: auto;
  padding-left: 3px;
  padding-right: 3px;
  color: #EDEDED;
  background-color: rgba(27, 27, 27, 0.15);
  border-radius: 5px;
  font-size: 3em;
  z-index: 1;
  transform: translateY(0);
  opacity: 0.5;
  cursor: pointer;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.workPictureDot:hover {
  transform: translateY(-3px);
  opacity: 1;
}
.workPictureDot > img {
  transition: transform 0.5s ease-out;
}
.workPictureDot > img.active {
  transform: scale(0.75, 0.75);
}

.workPictureDot.active {
  transform: scale(1.5, 1.5);
  opacity: 1;
}

#workSampleTags {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 10px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(43, 43, 43, 0.5);
  color: #EDEDED;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 50px;
}

#workSampleLinks {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 25px;
  width: 80%;
}

.workSampleLink {
  position: relative;
  display: inline-block;
  aspect-ratio: 1/1;
  width: 125px;
  height: 185px;
}

@media (min-width: 800px) {
  #workSampleContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  #workSampleColumn1 {
    grid-column: 1;
  }
  #workSampleColumn2 {
    grid-column: 2;
  }
}
@media (max-width: 800px) {
  #workSampleContainer {
    grid-template-columns: 1fr;
  }
  #workSampleColumn1 {
    grid-column: 1;
    grid-row: 1;
  }
  #workSampleColumn2 {
    grid-column: 1;
    grid-row: 2;
  }
}