#hero {
  margin-bottom: 25px;
}

.workSectionTitle {
  color: #EDEDED;
  font-weight: bold;
  font-size: 4vw;
  text-align: center;
}

#workSampleLinks {
  display: grid;
  list-style-type: none;
  gap: 10px;
}

.workSampleLink {
  position: relative;
  display: flex;
}

#workDescription {
  position: relative;
  color: #EDEDED;
  font-size: 1.25em;
  margin: auto;
  margin-bottom: 50px;
  width: 75%;
}

#workSampleTags {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 10px;
  width: 75%;
  margin: auto;
  background-color: rgba(43, 43, 43, 0.5);
  color: #EDEDED;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 50px;
}

#workRole {
  color: #EDEDED;
  text-align: center;
  margin-bottom: 50px;
  font-size: 3vw;
  font-weight: bold;
}

.workPicturesContainer {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

.workPictures {
  position: relative;
}

.workPicturesLeft {
  position: absolute;
  top: 50%;
  left: 10vw;
  font-size: 2em;
  z-index: 1;
  transform: translateY(-50%);
  background-color: rgba(27, 27, 27, 0.5);
  color: #EDEDED;
  border-radius: 5px;
  transition: all 0.15s ease-in;
  cursor: pointer;
}
.workPicturesLeft:hover {
  transform: translateY(-50%) translateX(-15%);
}

.workPicturesImage {
  border-radius: 10px;
  border-width: 2px;
  border-color: rgba(27, 27, 27, 0.5);
  height: auto;
  width: 85%;
  margin: auto;
}

.workPicturesRight {
  position: absolute;
  top: 50%;
  right: 10vw;
  font-size: 2em;
  z-index: 1;
  transform: translateY(-50%);
  background-color: rgba(27, 27, 27, 0.5);
  color: #EDEDED;
  border-radius: 5px;
  transition: all 0.15s ease-in;
  cursor: pointer;
}
.workPicturesRight:hover {
  transform: translateY(-50%) translateX(15%);
}