#hero {
  margin-bottom: 25px;
}

#workSampleContainer {
  display: grid;
  width: 85%;
  margin: auto;
  gap: 50px;
}

#workSampleColumn1 {
  grid-column: 1;
}

#workSampleColumn2 {
  grid-column: 2;
  width: 90%;
}

.workSectionTitle {
  color: #EDEDED;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

#workPicturesList {
  width: 100%;
}

.workPictureContainer {
  margin-bottom: 45px;
  padding: 15px;
  background-color: rgba(43, 43, 43, 0.25);
  border-radius: 5px;
}

.workPicture {
  margin-bottom: 10px;
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  transition: border-radius 0.3s ease-out;
}
.workPicture:hover {
  border-radius: 5px;
}
.workPicture .workPicturePic {
  width: 100%;
  height: auto;
  display: block;
  border-radius: inherit;
}
.workPicture .workPictureZoom {
  position: absolute;
  z-index: 3;
  bottom: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.workPicture .workPictureZoom:hover {
  border-radius: 4px;
  width: 36px;
  height: 36px;
}

.workPictureCaption {
  color: #EDEDED;
  text-align: center;
  font-size: 1.25em;
}

#workDescription {
  position: relative;
  color: #EDEDED;
  font-size: 1.25em;
  margin: auto;
  margin-bottom: 50px;
  width: 75%;
  text-align: left;
}

#workSampleTags {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 10px;
  width: 75%;
  margin: auto;
  background-color: rgba(43, 43, 43, 0.5);
  color: #EDEDED;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 50px;
}

#workSampleLinks {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 25px;
  width: 80%;
}

.workSampleLink {
  position: relative;
  display: inline-block;
  aspect-ratio: 1/1;
  width: 125px;
  height: 185px;
}